.caracteristiques {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.listeCaracteristiques {
    display: grid;
    grid-template-columns: 5% 25% 70%;
}
.suppCaracteristique {
    color: red;
    transform: rotateZ(45deg);
    height: 20px;
    width: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    .tdNom {
        width: 30%;
        padding: 2px;
        font-weight: bold;
        border: solid 0.1px #00000024;
    }
    .tdContenu {
        width: 70%;
        padding: 2px;
        border: solid 0.1px #00000024;
    }
}