@import url("header.css");
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5%;
}

main .divLikeDislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

main .divLikeDislike .divLike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}

main .divLikeDislike .divLike .fa-thumbs-up {
  font-size: 20px;
  color: #05cd05;
  cursor: pointer;
}

main .divLikeDislike .divLike p {
  font-weight: bold;
  margin: 5px 0px;
}

main .divLikeDislike .divDislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}

main .divLikeDislike .divDislike .fa-thumbs-down {
  font-size: 20px;
  color: red;
  cursor: pointer;
}

main .divLikeDislike .divDislike p {
  font-weight: bold;
  margin: 5px 0px;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main section p {
  text-align: center;
}

main section .divVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .divVideo video {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}

main section .divVideo .controles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .divVideo .controles .fas {
  color: blue;
  cursor: pointer;
}

main section .divVideo .controles p {
  margin: 2px 0px;
}

main section .divVideo .controles .inputRange {
  width: 100%;
}

main .divCommentaireSup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .divCommentaireSup textarea {
  resize: none;
  height: 100px;
  width: 90%;
  border-radius: 20px;
  padding: 1% 3%;
}

main .divCommentaireSup button {
  margin: 10px 0px;
  font-weight: bold;
  border-radius: 10px;
  width: 30%;
  height: 30px;
  cursor: pointer;
}

main .divCommentaireSup .divCommentaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .divCommentaireSup .divCommentaire .pseudo {
  font-weight: bold;
}

main .divCommentaireSup .divCommentaire .commentaire {
  margin: 0;
  background: #8080802e;
  border-radius: 10px;
  padding: 5px;
}

#map {
  height: 180px;
  width: 100%;
}
/*# sourceMappingURL=contenu.css.map */