@import url("header.css");
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    .divLikeDislike {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        .divLike {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 10px;
            .fa-thumbs-up {
                font-size: 20px;
                color: #05cd05;
                cursor: pointer;
            }
            p {
                font-weight: bold;
                margin: 5px 0px;
            }
        }
        .divDislike {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 10px;
            .fa-thumbs-down {
                font-size: 20px;
                color: red;
                cursor: pointer;
            }
            p {
                font-weight: bold;
                margin: 5px 0px;            
            }
        }
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        p {
            text-align: center;
        }
        .divVideo {
            display: flex;
            width: 90%;
            flex-direction: column;
            align-items: center;
            video {
                width: 100%;
                max-width: 250px;
                cursor: pointer;
            }
            .controles {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap-reverse;
                justify-content: space-between;
                .fas {
                    color: blue;
                    cursor: pointer;
                }
                p {
                    margin: 2px 0px;
                }
                .inputRange {
                    width: 100%;
                }
            }
        }
    }
    .divCommentaireSup{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        textarea{
            resize: none;
            height: 100px;
            width: 90%;
            border-radius: 20px;
            padding: 1% 3%;
        }
        button{
            margin: 10px 0px;
            font-weight: bold;
            border-radius: 10px;
            width: 30%;
            height: 30px;
            cursor: pointer;
        }
        .divCommentaire{
            display: flex;
            flex-direction: column;
            align-items: center;
            .pseudo{
                font-weight: bold;
            }
            .commentaire{
                margin: 0;
                background: #8080802e;
                border-radius: 10px;
                padding: 5px;
            }
        }
    }
}