header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 30%;
        max-width: 200px;
    }
    /*p {
        color: #29b6f6;
        text-shadow: 0 0 5px #42a5f5;
        font-size: 300%;
        font-weight: bold;
        margin: 5px;
    }*/
    nav {
        display: flex;
        justify-content: center;
        width:100%;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 90%;
            align-items: center;
            padding: 0px;
            list-style-type: none;
            margin: 5px 0px;
            li {
                margin: 5px;
                a {
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
}